#battery {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
    -fx-padding: 10;
    -fx-background-color: #333333;
    -fx-background-radius: 10;
}

#main {
    -fx-background-color: #4f4f4f;
}

.tool-bar {
    -fx-background-color: rgba(255, 255, 255, 0);
    -fx-padding: 0px;
    -fx-spacing: 0px;
}

#close-button {
    -fx-background-color: transparent;
}

#close-button:hover {
    -fx-background-color: red;
}

#minimize-button {
    -fx-background-color: transparent;
}

#minimize-button:hover {
    -fx-background-color: #5b5858;
}

.green-bar {
    -fx-accent: #07cd07;
}

.yellow-bar {
    -fx-accent: #cbcb11;
}

.orange-bar {
    -fx-accent: #ae740f;
}

.red-bar {
    -fx-accent: #ff0000;
}