#battery {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
    -fx-padding: 10;
    -fx-background-color: #333333;
    -fx-background-radius: 10;
}

#main {
    -fx-background-color: #4f4f4f;
}

.green-bar {
    -fx-accent: #07cd07;
}

.yellow-bar {
    -fx-accent: #cbcb11;
}

.orange-bar {
    -fx-accent: #ae740f;
}

.red-bar {
    -fx-accent: #ff0000;
}